.arrow {
    cursor: pointer;
    position: absolute;
    top: 10%;
    margin-top: -50px;
    width: 0;
    height: 0;
    border-style: solid;
}

#leftArrowBtn{
    border-width: 60px 80px 60px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}

#rightArrowBtn{
    border-width: 60px 0 60px 80px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
}