body{
    margin: 0;
    padding: 0;
    background: #262626;
    font-family: sans-serif;
}

.container{
    width: 1280px;
    margin: 50px 400px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.container .box{
    position: relative;
    width: 200px;
    height: 200px;
    background: transparent;
    margin: 5px;
    box-sizing: border-box;
    display: inline-block;
}

.container .box .imgBox{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.container .box .imgBox img{
    max-width: 100%;
    transition: transform 1s;
}

.container .box:hover .imgBox img {
    transform: scale(1.2);
}


#foobar { display: none }

#nextBtn{
    position: absolute;
    border: none;
    cursor: pointer;
    top: 80%;
    color: aqua;
    font-size: 100px;
    height: 50px;
    width: 50px;

    right: 10%;
    display: none;
}

#returnBtn{
    color: aqua;
}






