
:root {
    /* Set fade in duration */
    --fade-time: 0.5s;
}

body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    max-width: 500px;
    margin: auto;
    border: #a71d2a solid 3px;
    background-color: #a71d2a;
    position: absolute;
    left: 35%;
    top: 5%;
}

#gradient {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


#speaker {
    cursor: pointer;
    width: 10%;
    height: 10%;
    top: 20%;
    left: 20%;
}

#check {

    cursor: pointer;
    position: fixed;
    top: 90%;
    left: 20%;
}


.imgs img {
    position: relative;
    width: 100%;
}

.imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    top: 50%;

}

.imgs img {
    cursor: pointer;
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    transition: all .3s ease;
    position: relative;


}

.imgs img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -moz-transform: scale(1.20); /* Firefox */
    -ms-transform: scale(1.20); /* IE 9 */
    -o-transform: translateZ(0) scale(1.20); /* Opera */
    transform: translateZ(0) scale(1.20);
    z-index: 10;

}

.imgs img.active {
    background: rgba(0, 226, 20, 0.56);
    opacity: 30%;


}

#check{
    cursor: pointer;
    width: 10%;
    height: 10%;
    top: 20%;
    left: 20%;
}





